<mjml>
  <mj-head>
    <mj-title>AcceXible-Email</mj-title>
    <mj-preview>AcceXible</mj-preview>
    <mj-attributes>
      <mj-all font-family="'Helvetica Neue', Helvetica, Arial, sans-serif"></mj-all>
      <mj-text font-weight="400" font-size="16px" color="#000000" line-height="24px" font-family="'Helvetica Neue', Helvetica, Arial, sans-serif"></mj-text>
    </mj-attributes>
    <mj-style inline="inline">
      .body-section {
      -webkit-box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.15);
      box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.15);
      }
    </mj-style>
    <mj-style inline="inline">
      .text-link {
      color: #5e6ebf
      }
    </mj-style>
    <mj-style inline="inline">
      .footer-link {
      color: #888888
      }
    </mj-style>

  </mj-head>
  <mj-body background-color="#625DC3" width="1200px">
    <mj-section full-width="full-width" background-color="#fff" padding-bottom="0">
      <mj-column width="100%">
        <mj-image src="https://accexible.com/static/media/accexible_logo.42a306b1.png" alt="" align="center" width="300px" padding-bottom="30px"/>
        <mj-image src="https://images-ext-2.discordapp.net/external/gUyG6SbaJrMWT5_P1TQuNvFpXzibV569HqBRvW4HRBA/https/i.imgur.com/IGWfqHIh.jpg" width="1200px" alt="" padding="0"  />
      </mj-column>
    </mj-section>
   
    <mj-wrapper padding-top="0" padding-bottom="0" css-class="body-section">
      <mj-section background-color="#ffffff" padding-left="15px" padding-right="15px">
        <mj-column width="100%">
          <mj-text color="#637381" font-size="16px">
            Hola {{firstName}},
          </mj-text>
          <mj-text color="#637381" font-size="16px">
            Tras finalizar el test, has obtenido una puntuación de {{totalScore}} sobre 15 puntos, esta puntuación esta basada en las dos pruebas que ha realizado anteriormente.
          </mj-text>
          <mj-text color="#637381" font-size="16px">
            <ul>
              <li style="padding-bottom: 20px"><strong>Test de Preguntas:</strong> en el que valoramos una serie de puntos para optimizar de la mejor manera posible su estado anímico.</li>
              <li><strong>Chatbot:</strong> en el cual definimos mediante una serie de patrones si puede padecer algún indicativo que muestre cuadros de ansiedad.</li>
            </ul>
          </mj-text>
          <mj-text color="#637381" font-size="16px" padding-bottom="10px">
            Con los resultados obtenidos, se aprecian rasgos depresivos leves, por lo que recomendamos consultar con un especialista que lo valorara de forma más concreta según su caso.
          </mj-text>
 	 				<mj-text color="#637381" font-size="16px" padding-bottom="30px">
            En el siguiente enlace puede ver que centros de salud están más próximos a su ubicación y si lo desea oportuno acudir a uno de ellos.
          </mj-text>
          <mj-button background-color="#625DC3" border-radius="10px" align="center" color="#ffffff" font-size="17px" font-weight="bold" href="https://www.google.com/maps/search/consulta+psicologica/" target="_blank" width="250px">
            CENTROS CERCANOS
          </mj-button>
        </mj-column>
      </mj-section>
      <mj-section background-color="#ffffff" padding-left="15px" padding-right="15px" padding-top="0">
        <mj-column width="60%">
        </mj-column>
      </mj-section>
      <mj-section background-color="#ffffff" padding-left="15px" padding-right="15px" padding-top="0">
        <mj-column width="100%">
          <mj-divider border-color="#DFE3E8" border-width="1px" />
        </mj-column>
      </mj-section>
      <mj-section background-color="#ffffff" padding="0 15px 0 15px">
        <mj-column width="100%">
           <mj-image src="https://accexible.com/static/media/accexible_logo.42a306b1.png" alt="" align="center" width="300px"/>
          <mj-text color="#637381" font-size="16px" align="center">
            Salud mental accesible para tod@s
          </mj-text>
        </mj-column>
      </mj-section>
      <mj-section background-color="#ffffff" padding-left="15px" padding-right="15px">
        <mj-column width="50%">
          <mj-text color="#212b35" font-size="15px" font-weight="bold" padding-bottom="0">
            BARCELONA
          </mj-text>
          <mj-text color="#637381" font-size="14px" padding-top="0">
            Barcelona Tech City
            <br />
            Plaça de Pau Vila, 1 Bloc A, Planta 3, Porta 3A1, 08003
          </mj-text>
        </mj-column>
        <mj-column width="50%">
          <mj-text color="#212b35" font-size="15px" font-weight="bold" padding-bottom="0">
            BILBAO
          </mj-text>
          <mj-text color="#637381" font-size="14px" padding-top="0">
            INNOLAB Bilbao
            <br />
            Gordoniz 44, 48002
          </mj-text>
        </mj-column>
      </mj-section>
    </mj-wrapper>

    <mj-wrapper full-width="full-width">
      <mj-section>
        <mj-column width="100%" padding="0">
          <mj-social font-size="15px" icon-size="30px" mode="horizontal" padding="0" align="center">

            <mj-social-element name="twitter-noshare" href="https://twitter.com/accexible" target="_blank" background-color="#625DC3">
            </mj-social-element>
            <mj-social-element name="linkedin-noshare" href="https://www.linkedin.com/company/accexible/?originalSubdomain=es" target="_blank" background-color="#625DC3">
            </mj-social-element>
          </mj-social>
        </mj-column>
      </mj-section>
    </mj-wrapper>

  </mj-body>
</mjml>